@import url('variablesbarra.css');

@media only screen and (min-width: 1200px) {

    .chat-container {
        height: 70vh;
        overflow-y: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* Mensajes */
    .messages {
        flex: 1;
        padding: 15px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .message {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 10px;
    }

    .message.left {
        justify-content: flex-start;
    }

    .message.right {
        justify-content: flex-end;
    }

    .avatar-container {
        position: relative;
        display: inline-block;
    }

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }


    .bubble {
        padding: 10px 14px;
        border-radius: 18px;
        min-width: 100px;
        max-width: 60%;
        font-size: 25px;
        line-height: 1.2;
    }

    .bubble p {
        margin: 0;
    }

    .bubble a {
        color: inherit;
        text-decoration: underline;
    }

    .bubble a:hover {
        opacity: 0.8;
    }

    .left .bubble {
        background: #4ec0ff;
        color: #000;
        border-bottom-left-radius: 5px;
    }

    .right .bubble {
        background: #2c3e91;
        color: #fff;
        border-bottom-right-radius: 5px;
    }

    .bubble small,
    time {

        margin-top: 5px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.6);
    }

    /* Barra de input */
    .chat-input {
        position: sticky;
        bottom: 15px;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 8px;
        margin-right: 50px;
    }

    .chat-input input {
        flex: 1;
        border: none;
        padding: 12px;
        border-radius: 20px;
        font-size: 14px;
        outline: none;
        height: 30px;
    }

    .chat-input .options {
        display: flex;
        flex-direction: column;
        background: #2c3e91;
        padding: 10px 6px;
        border-radius: 25px;
        gap: 12px;
        margin-right: 8px;
    }

    .chat-input .options button {
        background: none;
        border: none;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }

    .chat-input i {
        font-size: 30px;
    }

    .icon-btn {
        background: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
        color: gray;

    }

    .send-btn {
        background: #28a745;
        border: none;
        color: white;
        font-size: 18px;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
    }

    .attach-container {
        position: relative;
    }

    .options-dropdown {
        display: none;
        position: absolute;
        bottom: 45px;
        /* para que aparezca arriba del botón */
        right: 0;
        background: #2c3e91;
        border-radius: 12px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 100;
    }

    .options-dropdown.open {
        display: flex;
    }

    .options-dropdown button {
        background: none;
        border: none;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }

    i.fa-solid.fa-image {
        margin-left: 7px;
    }

    .status {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid white;
        background-color: #9ca3af;
        /* color por defecto: offline */
    }

    .status.online {
        background-color: #22c55e !important;
    }

    .status.away {
        background-color: #fbbf24 !important;
    }

    .status.offline {
        background-color: #9ca3af !important;
    }
}

@media only screen and (max-width: 595px) {
    .chat-container {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        margin-top: 150px;
        padding-top: 50px;
        padding: 15px;
    }


    /* Mensajes */
    .messages {
        flex: 1;
        padding: 15px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .message {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 10px;
    }

    .message.left {
        justify-content: flex-start;
    }

    .message.right {
        justify-content: flex-end;
    }

    .avatar-container {
        position: relative;
        display: inline-block;
    }

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    .online {
        background: var(--color6);
    }

    .offline {
        background: var(--offline);
    }

    .busy {
        background: var(--ocupado);
    }

    .bubble {
        padding: 10px 14px;
        border-radius: 18px;
        max-width: 60%;
        font-size: 15px;
        line-height: 1.6;
    }

    .bubble a {
        color: inherit;
        text-decoration: underline;
    }

    .bubble a:hover {
        opacity: 0.8;
    }

    .left .bubble {
        background: #4ec0ff;
        color: #000;
        border-bottom-left-radius: 5px;
    }

    .right .bubble {
        background: #2c3e91;
        color: #fff;
        border-bottom-right-radius: 5px;
    }

    /* Barra de input */
    .chat-input {
        position: sticky;
        bottom: 15px;
        left: 0;
        right: 0;
        z-index: 30;
        display: flex;
        align-items: center;
        padding: 10px;
        margin-right: 10px;
    }

    .chat-input input {
        flex: 1;
        border: none;
        padding: 12px;
        border-radius: 20px;
        font-size: 14px;
        outline: none;
        height: 20px;
    }

    .chat-input .options {
        display: flex;
        flex-direction: column;
        background: #2c3e91;
        padding: 10px 6px;
        border-radius: 25px;
        gap: 12px;
        margin-right: 8px;
    }

    .chat-input .options button {
        background: none;
        border: none;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }

    .chat-input i {
        font-size: 20px;
    }

    .icon-btn {
        background: none;
        border: none;
        font-size: 10px;
        cursor: pointer;
        color: gray;
    }

    .send-btn {
        background: #28a745;
        border: none;
        color: white;
        font-size: 10px;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
    }

    .attach-container {
        position: relative;
    }

    .options-dropdown {
        display: none;
        position: absolute;
        bottom: 45px;
        /* para que aparezca arriba del botón */
        right: 0;
        background: #2c3e91;
        border-radius: 12px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 100;
    }

    .options-dropdown.open {
        display: flex;
    }

    .options-dropdown button {
        background: none;
        border: none;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }

    .status {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid white;
        background-color: #9ca3af;
        /* color por defecto: offline */
    }

    .status.online {
        background-color: #22c55e !important;
    }

    .status.away {
        background-color: #fbbf24 !important;
    }

    .status.offline {
        background-color: #9ca3af !important;
    }
}