@import url('variablesGlobales.css');


@media only screen and (min-width: 1200px) {
    .sidebar {
        height: 100vh;
        width: 80px;
        background-color: var(--color1);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 30;
    }

    .menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100%
    }

    .menu li {
        margin: 20px 0;
    }

    .menu img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .fa-solid {
        color: var(--color_texto);
    }

    .barra-espacio {
        margin-top: 70px;
        width: 100%;
        padding-left: 30%;
        height: 7dvh;
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 20;
        background-color: var(--colorB);
        box-shadow: 31px 36px 50px -15px rgba(0, 0, 0, 0.40);
        -webkit-box-shadow: 31px 36px 50px -15px rgba(0, 0, 0, 0.40);
        -moz-box-shadow: 31px 36px 50px -15px rgba(0, 0, 0, 0.40);
    }

    .barra-espacio input[type="text"] {
        width: 500px;
        height: 35px;
        border-radius: 10px;
        border: none;
        padding-left: 10px;
        font-size: 16px;
    }

    .barra-espacio button {
        background-color: var(--color2);
        color: var(--color_texto);
        border: none;
        border-radius: 10px;
        margin-right: 15px;
        width: 150px;
        height: 40px;
        font-weight: bold;
        font-size: large;
        cursor: pointer;
        margin-left: 550px;  
    }

    .barra-espacio h2 {
        color: var(--color_texto);
        font-size: 30px;
        line-height: 1dvh;
        width: 200px;
        padding: 20px;
        text-align: center;
    }

    .barra-espacio .active {
        background-color: var(--color7);
        border: 5px solid var(--color7);
        border-bottom: 4px solid var(--color2);
    }

    .barra-espacio .unactive {}

    .barra-espacio a {
        text-decoration: none;
        margin-left: 2%;
    }

    .main-content {
        background-color: var(--color_texto);
        height: 120vh;
        width: 100%;
        margin-left: 400px;
        position: relative;
        z-index: 10;
        padding-top: 10%;
        padding-left: 5%;
        background-image: url("../assets/img/Recompensas.png");
        background-repeat: repeat;
        background-size: auto;
        background-position: bottom right;
    }

    .layout-container {
        display: flex;
        height: calc(100vh - 70px);
    }

    .barra-datos {
        flex: 0 0 10%;
        margin-left: 80px;
        position: fixed;
        z-index: 15;
        width: 300px;
        height: 100%;
        background-color: var(--color5);
        padding: 15px;
        padding-top: 10%;
        box-shadow: 12px 3px 44px -2px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 12px 3px 44px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 12px 3px 44px -2px rgba(0, 0, 0, 0.75);
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color_texto);
    }

    .grupo-item {
        background-color: var(--color2);
        width: 50%;
        height: 18%;
        border-radius: 15px;
        font-weight: bold;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 480px) {
    .fa-solid {
        color: white;
    }

    .sidebar {
        width: 100%;
        background-color: var(--color1);
        position: fixed;
        top: 0;
        margin-top: 56px;
        z-index: 30;
    }

    .menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: auto;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }


    .main-content {
        background-color: var(--color_texto);
        height: 100%;
        min-height: 550px;
        width: 100%;
        position: relative;
        z-index: 10;
        background-image: url("../assets/img/Recompensas.png");
        background-repeat: repeat;
        background-size: auto;
        background-position: bottom right;
        margin-top: 120px;
    }

    .barra-espacio {
        width: 100%;
        height: 60px;
        background-color: var(--colorB);
        display: flex;
        align-items: center;
        position: fixed;
        top: 120px;
        z-index: 20;
    }

    .barra-espacio button {
        background-color: var(--color2);
        color: var(--color_texto);
        border: none;
        border-radius: 10px;
        margin-right: 15px;
        width: 100px;
        height: 30px;
        font-weight: bold;
        cursor: pointer;
        margin-left: 70px;
        margin-left: 40px;
    }

    .barra-espacio h2 {
        color: var(--color_texto);
        width: 70px;
        padding: 20px;
        text-align: center;
    }

    .barra-espacio a {
        text-decoration: none;
        margin-left: 0;
        margin-right: 2%;
        width: 100%;
    }

    .barra-datos {
        display: none;
    }

}